:root {
  --primary-sky-blue: #00FFFF ;
  --primary-silver: rgb(192, 192, 192);
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-black: #000000 ;
  --primary-white: #FFFFFF ;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.App {
  text-align: center;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  justify-content: center;

}

.wrapper {
  width: 100%;
  background-color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***** Navigation Bar *****/

nav {
  z-index: 2;
  box-shadow: -30px 30px 20px rgba(0,0,0,0.5);
}

.title-name h2 {
  color: var(--primary-white) ;
  text-decoration: wavy;
  padding: 0.8rem;

}
.navbar-brand {
  /* text-transform: uppercase; */
  color: white;
  max-width: 0.75rem;
  padding: 0 !important;
  height: 6rem !important;

}

.navbar-nav > lil > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-sky-blue);
  border-top: 0.1875rem solid var(--primary-silver);
}

nav a.nav-link {
  font-weight: 31.25rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  color: white !important;
}

nav ul li {
  /* text-transform: uppercase; */
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
.navbar-nav > lil > a:hover {
  border-top: 0.1875rem solid var(--primary-sky-blue);
} 

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875 solid var(--primary-silver);
}

/***  MENU -LINKS ***/
nav a.nav-link {
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  /* text-transform: uppercase; */
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-transparent-black);
}
.navbar-brand {
  max-width: 17.25rem;
  padding:0 !important;
  height:6rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-sky-blue);
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-sky-blue);
}


/* Header */
.header-wrapper {
  position: relative;
  /* background: url(background.jpg) no-repeat;
  background-size: cover;
  height: 60vh; */
  width: auto;
  /* background-color: #00FFFF; */
  /* min-height: 10.5rem; */
}

/* SOME INFO */

.someInfo-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  /* margin: 5rem; */
  /* background-color: #00FFFF; */
  justify-content: center;
  align-items: center;
  
}

.someInfo-wrapper .info-container {
  position: relative;
  /* background-color: silver; */
  font-family: consolas;
  /* font-size: 1.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-container p {
  color: black;
}

.info-container .box {
  /* margin: 2%; */
  box-shadow: -30px 30px 20px rgba(0,0,0,0.5);
  background-color: silver;
  width: 50%;
}
.box1 {
  width: 80%;
  background-color: silver;
  font-family: consolas ;
  margin: 5%;
  padding: 1%;
  box-shadow: -30px 30px 20px rgba(0,0,0,0.5);
  font-size: 1.1em;
}
.box h1 {
  font-family: consolas;

}

.about-heading {
  color: #61dafb;
  text-transform: uppercase ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-message {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFF;
  
}
.intro-message h1 {
  text-transform: uppercase;
  color: #61dafb;

}
.area2{
  width: auto;

}

.smallogo{
  width: 30%;
margin: 1rem;
}




/*** Navbar1 ***/

.nav-wrapper {
 width: 100%;
}

body{
  font-family: montserrat;
}

nav {
  position: relative;

  height: 80px;
  width: 100%;
  background-color: var(--primary-black);
}
label.logo h1{
  color: var(--primary-white);
  padding: 0.2rem;
font-family: Georgia, 'Times New Roman', Times, serif;
}

label.logo{

  font-size: 35px;
  line-height: 80px;
  /* padding: 0 100px; */
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
a.active, a:hover{
  background: var(--primary-transparent-black) ;
  transition: .5s;
}

.checkbtn {
 font-size: 30px;
 color: white;
 float: left;
 line-height: 80px;
 margin-right: 40px;
 cursor: pointer;
 display: none;
 padding: 0 0 0 25px;
}
#check{
  display: none;
}
@media (max-width: 952px){
  /* .App {
    width: 100%;
  } */
/* 
  .someInfo-wrapper .info-container {
    position: relative;
    font-family: consolas;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */

  label.logo{
    font-size: 30px;
    padding-left: 30px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn {
    display: block;
  }
  ul{
    position: fixed;
    width: 45%;
    height: 300vh;
    background: var(--primary-silver);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 10px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: black;
  }
  #check:checked ~ul{
    left: 0;
  }
  .far-bars{
    color: var(--primary-white);
  }
 
}

/**** HOME ****/
.main{

  /* background: url(./images/background.png) no-repeat; */
  /* background-color: brown; */
}
.main2{
  flex-direction: column;
  width: auto;

}

/** Servces **/

.idea1{
  width: 30%;
  border-radius: 50%;
  display: block;
  align-items: center;
  padding: 5%;
}
.idea2{
  border-radius: 50%;
  display: flex;
  align-self: flex-end;
  float:right;
  width: 30%;
  padding: 0 5%;
  flex-direction: column;
}

/**  About Us **/

.aboutUs {
  background-color :#36383c;
}
.profile-img {
  border-radius: 50%;
  width: 16rem;
  padding: .5rem;
  border: 1px solid var(--primary-black);
}

.pic-box {
  background-color: #c5c4c4;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: -30px 30px 20px rgba(0,0,0,0.5) ;
  margin: 2rem;
  min-height: 20%;

}
/*** Footer ***/
.bottom{
  background-color: var(--primary-transparent-black);
  min-height: 5rem;

}
.bottom a{
  margin: 10px 10px;
  text-decoration: none;
}


/*** INFO ***/

.box-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-wrapper .box{
  width: 50%;
  background-color: rgb(158, 149, 149);
  margin: 20px;
  min-height: 5rem;
  box-shadow: -30px 30px 20px rgba(0,0,0,0.5);
}

/***  ***/