:root {
  --primary-sky-blue: #00FFFF ;
  --primary-silver: rgb(192, 192, 192);
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-black: #000000 ;
  --primary-white: #FFFFFF ;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***** Navigation Bar *****/

nav {
  z-index: 2;
}

.title-name h2 {
  color: var(--primary-white) ;
  text-decoration: wavy;
  padding: 0.8rem;

}
.navbar-brand {
  /* text-transform: uppercase; */
  color: white;
  max-width: 0.75rem;
  padding: 0 !important;
  height: 6rem !important;

}

.navbar-nav > lil > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-sky-blue);
  border-top: 0.1875rem solid var(--primary-silver);
}

nav a.nav-link {
  font-weight: 31.25rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  color: white !important;
}

nav ul li {
  /* text-transform: uppercase; */
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
.navbar-nav > lil > a:hover {
  border-top: 0.1875rem solid var(--primary-sky-blue);
} 

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875 solid var(--primary-silver);
}

/***  MENU -LINKS ***/
nav a.nav-link {
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  /* text-transform: uppercase; */
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-transparent-black);
}
.navbar-brand {
  max-width: 17.25rem;
  padding:0 !important;
  height:6rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-sky-blue);
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-sky-blue);
}


/* Header */
.header-wrapper {
  position: relative;
  /* background: url(background.jpg) no-repeat;
  background-size: cover;
  height: 60vh; */
  width: auto;
  background-color: #282c34;
  min-height: 10.5rem;
}

/* SomeInfo */

.someInfo-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 50.5rem; */
  /* margin: 3.125rem;
  align-items: center; */
  /* padding: 50px 50px 50px; */
 /* justify-content: center; */
}

/* AboutUs */

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 2px solid var(--primary-black);

}

.about-heading {
  color: #61dafb;
  text-transform: uppercase ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-message {
  width: auto;
  align-items: center;
  margin: 10px 10px 10px 10px;
  
}
.intro-message h1 {
  text-transform: uppercase;
  color: #61dafb;

}

/* .nav-link h4 {
  color: white;
} */

/* Some info */

/*** MEDIA ***/

/*** Navbar1 ***/
.main{

  flex-direction: column;
}
body{
  font-family: montserrat;
}

nav {
  background: var(--primary-black) ;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active, a:hover{
  background: var(--primary-black) ;
  transition: .5s;
}

.checkbtn {
 font-size: 30px;
 color: white;
 float: right;
 line-height: 80px;
 margin-right: 40px;
 cursor: pointer;
 display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn {
    display: block;
  }
  ul{
    position: fixed;
    width: 50%;
    height: 300vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ul{
    left: 0;
  }
 
}