:root {
  --primary-sky-blue: #00FFFF ;
  --primary-silver: rgb(192, 192, 192);
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-black: #000000 ;
  --primary-white: #FFFFFF ;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar */

.title-name h2 {
  color: var(--primary-white) ;
}
.navbar-brand {
  text-transform: uppercase;
  color: white;

}

nav a.nav-link {
  font-weight: 31.25rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/* Header */
.header-wrapper {
  position: relative;
  /* background: url(background.jpg) no-repeat;
  background-size: cover;
  height: 60vh; */
  width: auto;
  background-color: #282c34;
  min-height: 10.5rem;
}

/* SomeInfo */

.someInfo-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 50.5rem; */
  /* margin: 3.125rem;
  align-items: center; */
  /* padding: 50px 50px 50px; */
 /* justify-content: center; */
}

/* AboutUs */

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 2px solid var(--primary-black);

}

.about-heading {
  color: #61dafb;
  text-transform: uppercase ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-message {
  width: auto;
  align-items: center;
  margin: 10px 10px 10px 10px;
}

/* Some info */

